@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV content start */
.nav-content-holder {
    /* position: relative; */
    width: 100%;
    margin: auto;
}

.background {
    background-image: url('images/filter.png');
    background-size: cover;
    min-height: 550px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    width: 100%;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 17px;
}

.nav-content h1 {
    color: #FFFFFF;
}

.nav-manus {
    display: flex;
    gap: 21px;
}

.nav-manus li {
    list-style: none;
    font-size: 14px;
    font-weight: 600px;
    color: #FFFFFF;

}

.bg-shadow {
    position: relative;
    z-index: 2;
}

.bg-shadow img {
    width: 1260px;
    height: 550px;
}

.primary-btn {
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #23A6F0;
    border-radius: 5px;
    border: none;
}

.hero-content {
    display: flex;
    font-display: flex;
    flex-direction: column;
    gap: 35px;
    width: 80%;
    margin: auto;
    padding-top: 125px;
}

.hero-title {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.hero-para {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}

.hero-button {
    display: flex;
    gap: 10px;
}

.second-btn {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #23A6F0;
    padding: 15px 36px;
    border-radius: 35px;
    border: none;
}

.second-btn-unique {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    padding: 15px 36px;
    border-radius: 37px;
    border: 1px solid;
}

.document-box {
    display: flex;
    gap: 30px;
    background-color: #252B42;
}

.box-icon {
    border: 2px solid;
    text-align: center;
    padding: 40px 45px;
    margin: 96px 0px;

}

.box-icon img {
    width: 72px;
}
.box-icon h3{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.box-icon p{

}