@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV content start */
.nav-content-holder {
    /* position: relative; */
    width: 100%;
    margin: auto;
}

.background {
    background-image: url('images/filter.png');
    background-size: cover;
    min-height: 550px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    width: 100%;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 17px;
}

.nav-content h1 {
    color: #FFFFFF;
}

.nav-manus {
    display: flex;
    gap: 21px;
}

.nav-manus li {
    list-style: none;
    font-size: 14px;
    font-weight: 600px;
    color: #FFFFFF;

}

.bg-shadow {
    position: relative;
    z-index: 2;
}

.bg-shadow img {
    width: 1260px;
    height: 550px;
}

.primary-btn {
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #23A6F0;
    border-radius: 5px;
    border: none;
}

.hero-content {
    display: flex;
    font-display: flex;
    flex-direction: column;
    gap: 35px;
    width: 80%;
    margin: auto;
    padding-top: 125px;
}

.hero-title {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.hero-para {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}

.hero-button {
    display: flex;
    gap: 10px;
}

.second-btn {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #23A6F0;
    padding: 15px 36px;
    border-radius: 35px;
    border: none;
}

.second-btn-unique {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
    padding: 15px 36px;
    border-radius: 37px;
    border: 1px solid;
}

.document-box {
    background-color: #252B42;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.box-icon {
    text-align: center;
    padding: 40px 45px;
    margin: 96px 0px;
    width: 324px;

}

.box-icon img {
    width: 72px;
}

.box-icon h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.box-icon p {
    font-size: 14px;
    font-size: 300;
    color: #FFFFFF;
}

.industry-container {
    background-color: #8EC2F2;

}

.industry-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    position: relative;

}

.industry-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.industry-content p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.person-card {
    display: flex;
    gap: 100px;
}

.regina-icon {

    position: absolute;
    top: 330px;
    left: 100px;
}

.regina-icon img {
    width: 70px;
}

/* Industry-2-section */

.industry-2-section {
    background-color: #252B42;

}

.industry-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.industry h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.industry p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.industry-2-card {
    display: flex;
}

.bg-img {
    background-image: url('/images/media\ bg-cover\ \(3\).png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 14px;

}

.bg-img p {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    margin: 20px 20px;
    text-align: start;

}

.cart-btn {
    width: 100%;


}

.btn-2 {
    margin-bottom: 45px;
    margin-left: 15px;
}
.bg-container{
    background-image: url('/images/appointment-background\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 80%;
    margin: auto;
    border: 2px solid;
}
.bg-content h4{
    font-size: 16px;
    font-weight: bold;
    color: #252B42;
}
.bg-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #252B42;
    padding-top: 12px;
    padding-bottom: 22px;
}
.input-container{
    width: 80%;
    margin: auto;
    
}
.input-field{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.input-field input{
    padding: 6px;
    width: 270px;
}
.massage{
    width: 559px;
    height: 150px;
}
